{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  }
}
