{
  "presets": [
    "@babel/react",
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-source"
      ]
    }
  }
}
